In [15]:
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = "all"

In [16]:
import matplotlib.pyplot as plt
%matplotlib notebook

In [17]:
# importing the necessary packages
import pandas as pd
# import pandas_profiling
df = pd.read_excel(r"dataset_assurance.xlsx", sheet_name=0)

In [18]:
df.head(1)

,ID_INTERVISTATO,DATA_INT,AMBITO,AOL,BACINO_ACCOGLIENZA,CAUSALE_TT,COMUNE_IMPIANTO,DATA_APERTURA_TT,DATA_CHIUSURA_TT,DESC_GUASTO,...,OVS1_6BIS_3,OVS1_6BIS_4,OVS1_6BIS_5,OVS1_6BIS_6,OVS1_6BIS_7,OVS1_6BIS_8,OVS1_6BIS_9,OVS1_6BIS_10,OVS_1_6_10,OVS.7_10_E_SMS
0,6285_9_000263704728020d84b32a1541409a32,8012018,Fisso,S1,IVR,Non Scorporato,FORIO,2018-01-07T00:00:00,2018-01-07T00:00:00,ADSL - HD - PROBLEMI FONIA VOIP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Perche il guasto e stato ripristinato in breve...

In [19]:
# OVS_1_6_10 : feedback assistenza se score <= 6
df_new = df[["ID_INTERVISTATO", "OVS_1_6_10"]]

df_new.shape
df_new.head(3)

(10822, 2)

,ID_INTERVISTATO,OVS_1_6_10
0,6285_9_000263704728020d84b32a1541409a32,NaN
1,6285_9_0007c2e6e4d81ac8a4750d2016e422aa,NaN
2,6285_9_000d02ec9700a742fd6551bb89486772,Ho segnalato l'impossibilità di utilizzare tim...

In [21]:
# print OVS_1_6_10 without NaN to csv
df_new = df_new.dropna()
df_new.shape

(540, 2)

In [22]:
df_new.to_csv("OVS_1_6_10.csv")